* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  border-radius: 10px;
}

button {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  position: relative;
  background-color: #CCA000;
  border: none;
  font-size: 16px;
  letter-spacing: 1px;
  color: #000814;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

button:after {
  content: "";
  background: #F5CC00;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.login {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  display: flex;
}

.login .loginContainer {
  border-radius: 10px;
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 520px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(
    ellipse at left bottom,
    #6C757D 0%,
    #212529 59%,
    #343A40 100%
  );
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.login .loginContainer label {
  color: white;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}

.login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  letter-spacing: 1px;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: #fff;
}

.login .loginContainer .btnContainer p span {
  color: yellow;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: red;
}

.login .loginContainer .errorMsg {
  color: red;
  font-size: 16px;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(
    ellipse at left bottom,
    #6C757D 0%,
    #212529 59%,
    #343A40 100%
  );
}

.hero nav {
  background: #212529;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero nav h2 {
  color: #fff;
}

.hero nav button {
  width: 86px;
  padding: 8px 0;
  background: #F5CC00;
  color: 212529
}

.colors1{
  background-color: #000814;
}

.colors2{
  background-color: #001D3D;
}

.colors3{
  background-color: #003566;
}

.colors4{
  background-color: #CCA000;
}

.colors5{
  background-color: #F5CC00;
}

.colors6{
  background-color: #F8F9FA;
}

.colors7{
  background-color: #E9ECEF;
}

.colors8{
  background-color: #DEE2E6;
}

.colors9{
  background-color: #CED4DA;
}

.colors10{
  background-color: #ADB5BD;
}

.colors11{
  background-color: #6C757D;
}

.colors12{
  background-color: #495057;
}

.colors13{
  background-color: #343A40;
}

.colors14{
  background-color: #212529;
}

.colors15{
  background-color: #002855;
}

.colors16{
  background-color: #0353A4;
}

.colors17{
  background-color: #001845;
}

.nav-menu > ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.test{
  float: left;
}

.nav a {
  display: inline-block;
  width: 100px;
  text-align: center;
  margin: 0 15px;
  padding: 10px;
  border: 1px rgba(255,255,255,0.5) solid;
  transition: all 0.3s linear;
  text-decoration: none;
  color: white;
}
.nav a.active {
  background-color: #61DAFB;
  color: #222;
}
section {
  padding: 20px 0;
  max-width: 600px;
  margin: 0 auto;
}

/* appear - on page load */
.fade-appear {
    opacity: 0;
    z-index: 1;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 100ms linear;
}

/* enter */
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 300ms;
}

/* exit */
.fade-exit {
    opacity: 1;
}
.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 100ms linear;
}
.fade-exit-done {
  opacity: 0;
}

/* slide enter */
.slide-enter {
  opacity: 0;
  transform: scale(0.97) translateY(5px);
  z-index: 1;
}
.slide-enter.slide-enter-active {
    opacity: 1;
    transform: scale(1) translateY(0);
    transition: opacity 3000ms linear 100ms, transform 3000ms ease-in-out 100ms;
}

/* slide exit */
.slide-exit {
    opacity: 1;
    transform: scale(1) translateY(0);
    
}
.slide-exit.slide-exit-active {
    opacity: 0;
    transform: scale(0.97) translateY(5px);
    transition: opacity 1500ms linear, transform 1500ms ease-out;
}
.slide-exit-done {
  opacity: 0;
}

/* Card */
.card-container {
  position: relative;
  max-width: 226px;
  margin: 0 auto;
}

.card {
  border: 3px #f3f3f3 solid;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s linear;
  cursor: pointer;
  background-color: #f3f3f3;
  position: absolute;
  padding: 10px;
  max-width: 220px;
  text-align: left;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
}
.card:hover {
  background-color: #f3f3f3;
  border-color: #f3f3f3;
}
.card img {
  max-width: calc(100%);
  margin: 0 auto;
  display: block;
}
.card .index {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  line-height: 20px;
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  padding: 0 10px;
}
.card .price {
  margin: 0;
  padding: 10px 0;
  font-weight: bold;
}
.card .details {
  position: relative;
}
.card .features {
  list-style: none;
  padding: 0;
  margin: 0;
}
.card .features li {
  padding-left: 24px;
  margin-right: 10px;
  display: inline-block;
}
.card .features li span {
  display: none;
}
.card .features li.icon-bed {
  background: url(./assets/bed-left-side.svg) left center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.card .features li.icon-bath {
  background: url(./assets/bathtub.svg);
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.card .features li.icon-car {
  background: url(./assets/car-compact.svg);
  background-size: auto 100%;
  background-repeat: no-repeat;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}




